/** Simple CSS Reset
_____________________________________________________________________________*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

/** Body
_____________________________________________________________________________*/
body {
     background: #111 ;
/*   background: #000 url("../images/ducks.jpg");*/
/*   background: #000 url("../images/dotted_bg.jpg");*/
   background-position: top;
   background-repeat: repeat-x;

}

/** Floats
_____________________________________________________________________________*/
.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/** Main Typography
_____________________________________________________________________________*/

h1 {
	font-size: 62px;
	color: #fff;
	margin: 0 0 8px 0;
	text-align: center;
	font-weight: normal;
}
h3 {
	font-size: 21px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin: 0 0 7px 0;
	text-transform: uppercase;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: #bfbfbf;
	margin: 0 0 7px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
hr {
	display: block;
	border: none;
	width: 480px;
	height: 2px;
	margin: 0 auto 23px auto;
	background: url(../images/divider.png);
}

/** Container
_____________________________________________________________________________*/
#container {
	width: 960px;
	margin: 0 auto;
}

/* Header
_____________________________________________________________________________*/
#header {
	height: 0px;
}

#logo {
	text-align: left;
	margin-bottom: -43px;
}

/** Main Background
_____________________________________________________________________________*/
#content {
	display: block;
	height: 335px;
	padding: 50px;
	-background: url("../images/content_bg.png");
	background-repeat: no-repeat;
}

/** Main Content
_____________________________________________________________________________*/
#main {
	width: 555px;
	overflow: hidden;
}
#main p {
	margin: 0 0 48px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	text-align: center;
	color: #bfbfbf;
	line-height: 30px;
}
#main a:link {
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
	background: #000;
}
#main a:visited {
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	color: #bfbfbf;
	background: #000;
}
#main a:hover {
	color: #000;
	background: #808080;
}
#counter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 12px;
}

/** Sidebar Content
_____________________________________________________________________________*/
#sidebar {
	width: 255px;
	height: 335px;
	overflow: hidden;
}
#sidebar p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #bfbfbf;
	line-height: 17px;
}

/** Pie Chart
_____________________________________________________________________________*/
#chart {
	width: 226px;
	height: 226px;
	margin: 9px;
	background-repeat: no-repeat;
}
.ten {
	background: url("../images/chart-10.png");
}
.twenty {
	background: url("../images/chart-20.png");
}
.thirty {
	background: url("../images/chart-30.png");
}
.forty {
	background: url("../images/chart-40.png");
}
.fifty {
	background: url("../images/chart-50.png");
}
.sixty {
	background: url("../images/chart-60.png");
}
.seventy {
	background: url("../images/chart-70.png");
}
.eighty {
	background: url("../images/chart-80.png");
}
.ninety {
	background: url("../images/chart-90.png");
}

/** Footer
_____________________________________________________________________________*/
#footer {
	margin: 5px 15px 0 15px;
}
#social_networking {
	float: left;
}
#social_networking img {
	margin: 0 10px 0 0;display:none;
}
#contact_form {
	float: right;
	width: 293px; display:none;
}

/** Form
_____________________________________________________________________________*/
#submit {
	float: right;
}
#email {
	float: left;
	margin-right: 10px;
	height: 27px;
	width: 195px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #bfbfbf;
}
#code {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}
